<!DOCTYPE hibernate-configuration PUBLIC
        "-//Hibernate/Hibernate Configuration DTD 3.0//EN"
        "http://hibernate.sourceforge.net/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
    <session-factory>
        <property name="connection.url">jdbc:mysql://localhost:3306/endo</property>
        <property name="connection.driver_class">com.mysql.jdbc.Driver</property>
        <mapping class="com.springapp.mvc.domain.User"/>
        <mapping class="com.springapp.mvc.domain.AreaDictionary"/>
        <mapping class="com.springapp.mvc.domain.CharacteristicDictionary"/>
        <mapping class="com.springapp.mvc.domain.FeaturesDictionary"/>
        <mapping class="com.springapp.mvc.domain.Medicinecard"/>
        <mapping class="com.springapp.mvc.domain.OrganDictionary"/>
        <mapping class="com.springapp.mvc.domain.RegionDictionary"/>
        <mapping class="com.springapp.mvc.domain.Revisions"/>
        <mapping class="com.springapp.mvc.domain.Revisiontype"/>
        <mapping class="com.springapp.mvc.domain.TermDictionary"/>
        <mapping class="com.springapp.mvc.domain.Apparatus"/>
        <mapping class="com.springapp.mvc.domain.ConclusionDictionary"/>
        <mapping class="com.springapp.mvc.domain.Conclusions"/>
        <mapping class="com.springapp.mvc.domain.DisinfectantSolution"/>
        <mapping class="com.springapp.mvc.domain.ManipulationDictionary"/>
        <mapping class="com.springapp.mvc.domain.Manipulations"/>
        <mapping class="com.springapp.mvc.domain.RecomendationDictionary"/>
        <mapping class="com.springapp.mvc.domain.RefferalDictionary"/>
        <mapping class="com.springapp.mvc.domain.Recomendations"/>
        <mapping class="com.springapp.mvc.domain.OperationDictionary"/>
        <mapping class="com.springapp.mvc.domain.Operations"/>
        <mapping class="com.springapp.mvc.domain.Settings"/>
    </session-factory>
</hibernate-configuration>